In [1]:
print("Welcome")

Welcome

In [2]:
student = {'name':'Archana','roll_num':123,'fav_sub':'Python'}

In [3]:
print(student)

{'name': 'Archana', 'roll_num': 123, 'fav_sub': 'Python'}

In [ ]:
# req:- using for loops through dict

In [4]:
for key,values in student.items():
    print(key)
    print(values)

name
Archana
roll_num
123
fav_sub
Python

In [5]:
for key,values in student.items():
    print(f"\nkey: {key}")
    print(f"value: {values}")

key: name
value: Archana

key: roll_num
value: 123

key: fav_sub
value: Python

In [ ]:
#req:- getting only keys ---->

In [6]:
for x in student.keys():
    print(f"key: {x.title()}")

key: Name
key: Roll_Num
key: Fav_Sub

In [ ]:
#req:- getting only values

In [8]:
for i in student.values():
    print(f"value: {i}")

value: Archana
value: 123
value: Python

In [ ]:
# Set:-
------

# set used to store multiple in a single var

# set is unorderd and unindex collection

# set is mutable datatype

# sets are writtten with curly barckets --> {}

# duplicaes are not allowed in set

In [9]:
set1 = {1,1,2,3,4}

In [10]:
print(set1)

{1, 2, 3, 4}

In [11]:
print(set1)

{1, 2, 3, 4}

In [12]:
l = [1,2,4,4,5]

In [13]:
print(l)

[1, 2, 4, 4, 5]

In [ ]:
# req:- len of set

In [14]:
len(set1)

4

In [ ]:
# validation

In [15]:
type(set1)

set

In [ ]:
# set()  ---->  [set constructor]

In [16]:
l1 = [1,2,2,3,4,100,15,100]

In [17]:
print(l1)

[1, 2, 2, 3, 4, 100, 15, 100]

In [18]:
set(l1)

{1, 2, 3, 4, 15, 100}

In [ ]:
# for loops through set

In [19]:
for i in set1:
    print(i)

1
2
3
4

In [20]:
set2 = {1,2,3,8}

In [21]:
set2[1]

TypeError: 'set' object is not subscriptable

In [ ]:
#req:- add new item

add()

In [22]:
set2.add(4)

In [23]:
print(set2)

{1, 2, 3, 4, 8}

In [ ]:
# req:- i want to remove one item

# remove()   ---> if the item is not presnt in set remove raise an error

# discard() ----> if the item is not presnt in set discardt will not raise an error

In [24]:
set2.remove(4)

In [25]:
print(set2)

{1, 2, 3, 8}

In [26]:
set2.discard(8)

In [27]:
print(set2)

{1, 2, 3}

In [30]:
set2.remove(8)

KeyError: 8

In [ ]:
# pop()

In [31]:
print(set2)

{1, 2, 3}

In [32]:
set2.pop()

1

In [33]:
print(set2)

{2, 3}

In [34]:
set2.pop()

2

In [35]:
print(set2)

{3}

In [36]:
l = [1,2,3]

In [38]:
for i in l:
    print(i)

1
2
3

In [42]:
for i in l:
    print(i,end=',')

1,2,3,

In [ ]:
# 1,2,3