In [1]:
print("Welcome")

Welcome

In [2]:
num = [1,2,3,4,5]

In [3]:
print(num)

[1, 2, 3, 4, 5]

In [ ]:
# req:- i want to add another item to my existing list:-




# .append()

# apped always add or append an element or item at last postion of list

In [ ]:
# i want to add 6

In [4]:
num.append(6)

In [5]:
print(num)

[1, 2, 3, 4, 5, 6]

In [ ]:
# adding 100

In [6]:
num.append(100)

In [7]:
print(num)

[1, 2, 3, 4, 5, 6, 100]

In [ ]:
# .insert()

# it will insert an item to the list at the sepcified index

In [8]:
alpha = ['a','e','o','u']

In [9]:
alpha.insert(2,'i')  


# 2 is index position

# "i" is our item,that we want to add

In [10]:
print(alpha)

['a', 'e', 'i', 'o', 'u']

In [11]:
alpha.insert(4,'z')

In [12]:
print(alpha)

['a', 'e', 'i', 'o', 'z', 'u']

In [13]:
print(alpha)

['a', 'e', 'i', 'o', 'z', 'u']

In [ ]:
# clear()

# it will clear the list

In [14]:
print(alpha)

['a', 'e', 'i', 'o', 'z', 'u']

In [15]:
alpha.clear()

In [16]:
print(alpha)

[]

In [17]:
num1 = [1,2,8,1,6,2,3]

In [18]:
print(num1)

[1, 2, 8, 1, 6, 2, 3]

In [ ]:
# count


# it will returns the number of times the specified elem appears in the list

In [19]:
number = num1.count(1)

In [20]:
print(number)

2

In [21]:
num1.count(2)

2

In [22]:
alpha1 = ['a','b','c']

alpha2 = ['d','e','f']

In [23]:
print(alpha1)


print(alpha2)

['a', 'b', 'c']
['d', 'e', 'f']

In [ ]:
# extend()


# it is used to append a list to another list

In [24]:
print(alpha1)

['a', 'b', 'c']

In [25]:
alpha1.extend(alpha2)

In [26]:
print(alpha1)

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
# reverse()


# it is used to reverse a list

In [27]:
num1 = [1,2,3,4]

In [28]:
print(num1)

[1, 2, 3, 4]

In [29]:
num1.reverse()

In [30]:
print(num1)

[4, 3, 2, 1]

In [31]:
number =[1,2,100,10000,25528,963,7852]

In [32]:
print(number)

[1, 2, 100, 10000, 25528, 963, 7852]

In [34]:
# max ---> returns max value

# min ---> returns min value

In [33]:
# max

print(max(number))

25528

In [35]:
# min


print(min(number))

1

In [ ]:
# for loops:-
-----------

In [ ]:
# for loops through list:-
-------------------------

In [36]:
name = ['ARCHANA','PRIYANKA','KARUNA']

In [37]:
print(name)

['ARCHANA', 'PRIYANKA', 'KARUNA']

In [38]:
for names in name:
    print(names)

ARCHANA
PRIYANKA
KARUNA

In [ ]:
# for tem_var in perm_var:
#    print(tem_var)

In [39]:
for i in name:
    print(i)

ARCHANA
PRIYANKA
KARUNA

In [ ]:
# for loops through strings:-
----------------------------

In [40]:
name = 'ARCHANA'

In [41]:
for siva in name:
    print(siva)

A
R
C
H
A
N
A

In [42]:
num = '123'

In [43]:
type(num)

str

In [44]:
number = 123

In [45]:
type(number)

int

In [46]:
for i in num:
    print(i)

1
2
3

In [ ]:
# i want to print nubers from 1 to 10

In [50]:
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# write a code to print mul