In [1]:
print("Welcome")

Welcome

In [ ]:
# printing mul table of 2

In [3]:
for i in range(1,10+1):
    print('2*',i,'=',i*2)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [4]:
for i in range(1,10+1):
    print(f"3*{i}={i*3}")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [5]:
stu = ['madhuri','archana','hema','priyanka','shiva']

In [6]:
for students in stu:
    print(students)

madhuri
archana
hema
priyanka
shiva

In [7]:
print("Here are the participents:-")
for students in stu:
    print(students)

Here are the participents:-
madhuri
archana
hema
priyanka
shiva

In [9]:
# code enhacement

print("Here are the participents:-")
for students in stu:
    print(3*"\t"+students)

Here are the participents:-
			madhuri
			archana
			hema
			priyanka
			shiva

In [ ]:
# while loops:-
-------------

In [ ]:
# printing 1 to 10 using while loops

In [10]:
n = 1
while n<=10:
    print(n)
    n = n+1

1
2
3
4
5
6
7
8
9
10

In [13]:
n=1
while n<=10:
    print(f"3*{n}={n*3}")
    n = n+1

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [ ]:
# accepting user inputs:-
-----------------------

In [ ]:
# input()

In [14]:
n = input()

50

In [15]:
print(n)

50

In [16]:
num = input("Please enter a number")

Please enter a number852

In [17]:
print(num)

852

In [18]:
name = input("please enter your name ")

please enter your name siva

In [19]:
print(name)

siva

In [ ]:
# conditional statemnts:-
------------------------

# if - else

In [32]:
age = input("please enter your age ")  # accepting user input
age = int(age) # type casting

if age>=18:   # checking the condition
    print("you are eligible")
else:
    print("Rejected")

please enter your age 85
you are eligible

In [21]:
num = input('enter the number')

enter the number52

In [22]:
print(num)

52

In [23]:
type(num)

str

In [24]:
# type casting

# str to int

num = int(num)

In [25]:
type(num)

int

In [26]:
number = 10

In [27]:
type(number)

int

In [28]:
number = str(number)

In [29]:
type(number)

str

In [30]:
print(number)

10

In [33]:
cars = ['audi','bmw','kia','toyoto','mahindra']

In [34]:
print(cars)

['audi', 'bmw', 'kia', 'toyoto', 'mahindra']

In [ ]:
# req:- i want to print bmw in upper case ,remain all in title case

In [35]:
for car in cars:
    if car=='bmw':
        print(car.upper())
    else:
        print(car.title())

Audi
BMW
Kia
Toyoto
Mahindra

In [ ]:
# for tem_var in per_var:
print(tem_var)

In [36]:
num = [5,5.0,6,3]

In [38]:
max(num)

6

In [37]:
number = [5,5.0,3]

In [39]:
max(number)

5

In [55]:
num = input("pelase enter the num  ")
num = str(num)
sumation = 0
length = len(num)
for i in num:
    i = int(i)
    sumation = sumation + i**length
print(sumation)

pelase enter the num  1234
354

In [41]:
1**3

1

In [42]:
2**3

8

In [43]:
3**3

27

In [44]:
27+8+1

36

In [53]:
num = '123'

In [54]:
for i in num:
    print(i)

1
2
3